* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.trybewarts-header-logo {
  height: 50px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input , button {
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.button {
  background-color: rgba(80, 56, 131, 1);
  color: white;
}

main {
  display: flex;
  background-color: aliceblue;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 50px;
}

#evaluation-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.left input , .rigth input {
  width: 48%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  padding: 40px;
}

#house {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

hr {
  margin: 20px 0;
}

.rate {
  margin-bottom: 15px;
}

.rate :not( :first-child ) {
  margin-left: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.families :not( :first-child ) {
  margin: 8px 0;
}

.up , .down {
  display: flex;
}

.language {
  margin: 15px 15px 0 0;
}

.infos {
  margin: 15px 0;
}

#submit-btn {
  background-color: rgba(80, 56, 131, 1);
  color: white;
  display: flex;
  justify-content: center;
}

footer {
  background-color: darkslategrey;
  color: white;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
